body{
margin:0;
}

.dummy {
   position:absolute;
    width: 100%;
    height: 100%;
    background-color: #fed;
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    z-index:0;
}

.magicalpowers {
  width:100%;
  height:100%;
}

#transition {
  position:absolute;
  z-index:1;
}
